.welcome-page{
    background-image: url("./img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    width: 25em;
    height: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome-text{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

#restaurant-description{
    color:white;
    text-align: center;
    font-size: 1.5em;
}