/* welcome page */
.welcome-page{
    background-image: url("./img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    width: 25em;
    height: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome-text{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

#restaurant-description{
    color:white;
    text-align: center;
    font-size: 1.5em;
}

/* offer page */
.restaurant-offer{
    height: 70%;
    background-color:#106B88;
}

#offer-title{
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#img-food1:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
#img-food2:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
#img-food3:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#img-food1{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-left: 12em;
}

#img-food2{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-left: 12em;

}

#img-food3{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-left: 12em;
}

#img-food1-name{
    margin-left: 7em;
    color:white;
    font-size: 2em;
}

#img-food2-name{
    margin-left: 8em;
    color:white;
    font-size: 2em;
}

#img-food3-name{
    margin-left: 7.5em;
    color:white;
    font-size: 2em;
}

/* about restaurant */
.about-restaurant{
    height: 80%;
    background-image: url("./img/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-title{
    color: white;
    text-align: center;
    padding-top: 2em;
    font-weight: bolder;
}

.about-open-time{
    color:white;
    padding-top: 2em;
    padding-left: 2em;
    font-weight: bolder;
}

/* Reservation section */

.reservation{
    height: 100%;
    background-image: url("./img/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#reservation-title{
    color:white;
    text-align: center;
    font-weight: bold;
    padding-top: 2em;
}

.form-group{
    opacity: 0.3;
    width: 40em;
    padding-left: 6em;
}

#reservation-name{
    color:white;
    font-size: 2em;
    padding-left: 3em;
}

#reservation-email{
    color:white;
    font-size: 2em;
    padding-left: 3em;

}

#reservation-guests{
    color:white;
    font-size: 2em;
    padding-left: 3em;

}

.btn-primary{
    margin-left: 32em;
    margin-top: 2em;
    height: 3em;
    width: 8em;
    font-weight: bold;
    background-color:#106B88;
    border: none;
}

/* Footer */

.footer{
    height: 30%;
    background-color:#106B88;
}

#footer-label1{
    padding-top:1.5em;
    color:white;
    padding-left: 10em;
}
#footer-adress{
    color:white;
    padding-left: 10em;
}

#footer-label2{
    padding-top:1em;
    color:white;
    margin-bottom: 0.1vw;
    padding-left: 10em;
}

#footer-tel{
    color:white;
    padding-left: 10em;
}

#footer-social-network{
    color:white;
    padding-left: 50em;
}


/* Social networks */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 55em;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
  }