/* welcome page */
.welcome-page{
    background-image: url("./img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    width: 25em;
    height: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome-text{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

#restaurant-description{
    color:white;
    text-align: center;
    font-size: 1.5em;
}

/* offer page */
.restaurant-offer{
    height: 70%;
    background-color:#106B88;
}

#offer-title{
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
#img-food1{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-left: 12em;
}

#img-food2{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-left: 12em;

}

#img-food3{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-left: 12em;
}

#img-food1-name{
    margin-left: 7em;
    color:white;
    font-size: 2em;
}

#img-food2-name{
    margin-left: 8em;
    color:white;
    font-size: 2em;
}

#img-food3-name{
    margin-left: 7.5em;
    color:white;
    font-size: 2em;
}